.new-project-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem !important;
}
.new-project-input label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 0.25rem;
}
.mandatory-field {
  font-size: 0.75rem;
}

.p-inputtext.p-disabled,
.p-component:disabled {
  color: var(--maximum-blue-green);
  opacity: 1 !important;
  background-color: transparent;
}
.p-inputtext.p-disabled#title {
  color: var(--maximum-blue-green);
  font-size: 2rem;
  font-weight: 900;
}

.new-project-input .p-progressbar .p-progressbar-label {
  color: var(--skobeloff);
  opacity: 1 !important;
  font-weight: 900;
  text-shadow: 0px 0px 1px var(--maximum-blue-green);
}
