.carousel-card {
  /* cursor: pointer; */
  margin: 1rem;
  box-shadow: rgb(88 104 233 / 24%) 0px 0px 20px !important;
  border-radius: 8px !important;
  background: linear-gradient(rgb(10, 12, 15), rgb(10, 12, 15)) padding-box
      padding-box,
    linear-gradient(
        99.78deg,
        rgba(88, 104, 233, 0.8) -0.04%,
        rgba(88, 198, 233, 0.8) 100.03%
      )
      border-box border-box !important;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.carousel-card:hover {
  transition: transform 0.75s ease-out 0s;
  will-change: transform;
  transform: translateY(-6px);
}

.carousel-card .p-card-header {
  height: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.carousel-card .card-img-container {
  height: 200px;
}

.carousel-card-tag-container {
  margin: 0.5rem;
}

.carousel-card-tag .p-tag-value {
  text-transform: uppercase;
}

.carousel-card .p-card-header .carousel-card-img {
  height: 100%;
  object-fit: cover;
}

.carousel-card .p-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.carousel-card-title,
.carousel-card-subtitle {
  text-align: center;
  margin-bottom: 0.5rem;
}

.carousel-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.carousel-card-subtitle {
  font-weight: 300;
  text-transform: uppercase;
}

.avatar-wrapper {
  padding: 5px;
  background-color: #0a0c0f;
  border-radius: 50%;
}

.avatar-container {
  margin-top: -77px;
}
