.app-container {
  height: 100%;
  min-height: 100vh;
  background-color: var(--rich-black);
  color: var(--green-white);
}

.app-container-content {
  height: 100%;
  max-width: 1400px;
  margin: auto;
}

.p-button.p-component {
  padding: 0.5rem 1rem;
  line-height: normal;
  height: fit-content;
  border-radius: 90px;
}

.p-button.p-component.p-button-icon-only {
  width: calc(20px + 1rem);
  padding: 0.5rem;
  border-radius: 90px;
}

.p-inputtext.p-component {
  padding: 0.5rem 1rem;
}

/* h1 {
  font-size: 2rem;
} */
