@font-face {
  font-family: Montserrat;
  src: url(./assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: MontserratItalic;
  src: url(./assets/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
  --rich-black: #041517ff;
  --intense-black: #0a0c0f;
  --skobeloff: #17676cff;
  --maximum-blue-green: #29b9c1ff;
  --green-white: #ccffeeff;
  /* 
  --text-color: #ccffeeff !important;
  --text-secondary-color: #29b9c1ff !important;
  --primary-color: #17676cff !important;
  --primary-color-text: #29b9c1ff !important;
  --font-family: "Montserrat" !important;
  --border-radius: 3rem !important; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-component {
  font-family: Montserrat !important;
}

.italic {
  font-family: MontserratItalic;
}

.teal-text {
  color: var(--skobeloff);
}

.light-teal-text {
  color: var(--maximum-blue-green);
}

.text-muted {
  color: rgb(123, 135, 157);
  font-size: 13px;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
