.featured-card {
  border-radius: 8px !important;
  overflow: hidden !important;
}

.featured-card .p-card-body,
.featured-card .p-card-content {
  padding: 0px !important;
}

.featured-card-bg {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(30, 41, 59, 0.83)), url('https://www.fillmurray.com/990/356') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100%;
  height: 100%;
}

.featured-card:hover {
  transition: transform 0.75s ease-out 0s;
  will-change: transform;
  transform: translateY(-6px);
}

.featured-card-title,
.featured-card-subtitle {
  margin-bottom: 0.5rem;
}

.featured-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.featured-card-subtitle {
  font-weight: 300;
  text-transform: uppercase;
}

.featured-avatar-wrapper {
  padding: 5px;
  background-color: #0A0C0F;
}

.p-avatar {
  display: flex !important;
}