.p-dataview .p-dataview-header {
  background: transparent !important;
  border: none !important;
}

.p-dataview .p-dataview-content {
  background: transparent !important;
}

.p-paginator {
  background: transparent !important;
  border: none !important;
}