.app-header {
  padding: 0.5rem 2rem 1rem 2rem;
  border-radius: 0 0 3rem 3rem;
  background-color: black;
  box-shadow: rgb(88 104 233 / 24%) 0px 0px 20px !important;
  background: linear-gradient(rgb(10, 12, 15), rgb(10, 12, 15)) padding-box padding-box,
    linear-gradient(99.78deg,
      rgba(88, 104, 233, 0.8) -0.04%,
      rgba(88, 198, 233, 0.8) 100.03%) border-box border-box !important;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.app-name {
  font-size: 2rem;
  color: var(--skobeloff);
  font-weight: 700;
  margin-left: 1rem;
  line-height: 50px;
  margin-bottom: auto;
}

.header-logo {
  height: 50px;
  width: 50px;
}

.header-button {
  margin-left: 1rem !important;
  margin-bottom: auto;
  height: 100%;
}

.custom-menubar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.fs-menu-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-fs-menu {
  height: 100vh !important;
}

.p-sidebar-content,
.p-sidebar-header {
  background-color: var(--intense-black);
}

.p-sidebar-content .p-menu {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.p-menu {
  width: 15rem !important;
}

.p-menu .p-menuitem {
  background: none !important;
  border: none;
}

.p-menu .p-menuitem:hover {
  color: var(--maximum-blue-green);
}

.p-sidebar-content .p-menuitem-link {
  justify-content: center;
  padding: 1.5rem 1.25rem 1.5rem 1.25rem !important;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: none !important;
}

.p-menu .p-menuitem-link .p-menuitem-text:not(.p-disabled):hover {
  background: none !important;
  color: var(--maximum-blue-green) !important;
}

@media screen and (max-width: 992px) {
  .connect-wallet-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--intense-black);
    z-index: 1001;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
    box-shadow: rgb(88 104 233 / 24%) 0px 0px 20px !important;
    background: linear-gradient(rgb(10, 12, 15), rgb(10, 12, 15)) padding-box padding-box,
      linear-gradient(99.78deg,
        rgba(88, 104, 233, 0.8) -0.04%,
        rgba(88, 198, 233, 0.8) 100.03%) border-box border-box !important;
    border-radius: 3rem 3rem 0 0;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .header-button {
    margin-left: 0px !important;
    margin-bottom: auto;
    width: 100%;
  }
}